<!doctype html>
{% extends "base.html"%}
{% load static %}

{% block content %}
<div class="place-holder"></div>
<div class="container">   
    <h2>Restaurant Bookings</h2>
</div>

<div class="row">
<div class="col">
<div class="card card-body">
<form method="get">
<input class="form-control border border-black rounded-0" type="date" name="date_search" placeholder="date search">

<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>
</div>


<div class="container">
    <a class="go-to-button btn btn-lg rounded-0 text-uppercase py-3" href="{% url 'add_booking' %}">Create New Booking</a>
</div>
<div class="container">
<table style="width:100%; background:white;">
  <tr>
    <th>Date</th>
    <th>Time</th> 
    <th>Name</th>
    <th>Room Number</th>
    <th>Adult Number</th> 
    <th>Child Number</th>
    <th>High Chair</th>
    <th>Comment</th>
    <th>Email</th> 
  </tr>
  {% for item in BookingItems %}
  <tr>
    <td>{{ item.date|date:"d/N" }}</td>
    <td>{{ item.time|time:"H:i" }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.roomNum }}</td>
    <td>{{ item.adultNum }}</td>
    <td>{{ item.childNum }}</td>
    <td>{{ item.highChair }}</td>
    <td>{{ item.comment }}</td>
    {% if item.email %}
           <td>{{ item.email }}</td>
           {% else %}
           <td>No email</td>
           {% endif %}
    <td>
            <div class="edit">
             <a href="/edit_booking/{{ item.id }}">
             
                 <button>Edit</button>
             </a>
            </div>
           
           </td>
           <td>
            <div class="delete">
             <a href="/delete_booking/{{ item.id }}">
             
                 <button>Delete</button>
             </a>
            </div>
           </td>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}