<!doctype html>
<head>
<title>All Bookings</title>
</head>
{% extends "base.html"%}
{% load static %}

{% block content %}

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}


<div class="place-holder"></div>
<div class="container">   
    <h2 class="mx-3">Restaurant Bookings</h2>
</div>

<div class="container">
    <a class="go-to-button btn btn-lg rounded-0 text-uppercase py-3 mx-3" href="{% url 'add_booking' %}">Create New Booking</a>
</div>

<!--<div id="all_adults" class="adult-number container" style="width:100%">Adults numbers: 


{% for adults in  BookingItems %}

{{ adults.adultNum }}

{% endfor %}
</div>-->


<!--<div class="container">

<div id="adultsSum" class="adult-number container" style="width:100%">Adults:  

{{ allAdults }}

</div>
</div>-->
  

<div class="container">
<table id="sum_table" style="width:100%; background:white;" class="mx-3">
  <tr>
    <th>Date</th>
    <th>Time</th> 
    <th>Name</th>
    <th>Room Number</th>
    <th>Adult Number</th>
    <th>Child Number</th>
    <th>High Chair</th>
    <th>Comment</th>
    <th class="d-none">Email</th>
  </tr>
  {% for item in BookingItems %}
  <tr>
    <td>{{ item.date|date:"d/N" }}</td>
    <td>{{ item.time|time:"H:i" }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.roomNum }}</td>
    <td class="adults customers" >{{ item.adultNum }}</td>
    <td class="children customers" >{{ item.childNum }}</td>
    <td>{{ item.highChair }}</td>
    <td>{{ item.comment }}</td>
    
    {% if item.email %}
           <td class="d-none">{{ item.email }}</td>
           {% else %}
           <td class="d-none">No email</td>
           {% endif %}
    <td>
            <div class="edit">
             <a href="/edit_booking/{{ item.id }}">
             
                 <button class="btn btn-light rounded-0">Edit</button>
             </a>
            </div>
           
           </td>
           <td>
              <button class="btn btn-light rounded-0">Cancel</button>
           </td>
           {% if request.user.is_superuser %}
           <td>
            <div onclick="myDelete()" class="delete">
             <a href="/delete_booking/{{ item.id }}">
             
                 <button class="btn btn-danger rounded-0">Delete</button>
             </a>
            </div>
           </td>
           {% endif %}
  </tr>
  {% endfor %}
  <tr>
    <th id="totalAdults" ></th> 
  </tr>
</table>
</div>

<script>

var sum = 0;
var table = document.getElementById("sum_table");
var ths = table.getElementsByTagName('th');
var tds = table.getElementsByClassName('adults');
for(var i=0;i<tds.length;i++){
	sum += isNaN(tds[i].innerText) ? 0 : parseInt(tds[i].innerText);
}

var row = table.insertRow(table.rows.length);
var cell = row.insertCell(0);
cell.setAttribute('colspan', ths.length);

var totalBalance  = document.createTextNode('Adults Total= ' + sum);
cell.appendChild(totalBalance);


var sum = 0;
var table = document.getElementById("sum_table");
var ths = table.getElementsByTagName('th');
var tds = table.getElementsByClassName('children');
for(var i=0;i<tds.length;i++){
	sum += isNaN(tds[i].innerText) ? 0 : parseInt(tds[i].innerText);
}

var row = table.insertRow(table.rows.length);
var cell = row.insertCell(0);
cell.setAttribute('colspan', ths.length);

var totalBalance  = document.createTextNode('Children Total= ' + sum);
cell.appendChild(totalBalance);


var sum = 0;
var table = document.getElementById("sum_table");
var ths = table.getElementsByTagName('th');
var tds = table.getElementsByClassName('customers');
for(var i=0;i<tds.length;i++){
	sum += isNaN(tds[i].innerText) ? 0 : parseInt(tds[i].innerText);
}

var row = table.insertRow(table.rows.length);
var cell = row.insertCell(0);
cell.setAttribute('colspan', ths.length);

var totalBalance  = document.createTextNode('Grand Total= ' + sum);
cell.appendChild(totalBalance);


</script>


{% endblock %}
