<!doctype html>

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bookings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">
                    <div class="row">
                        <div class="col">
                            <div class="card card-body">
                                <form method="GET" action="{% url 'display_bookings' %}">
                                <input class="form-control border border-black rounded-0" type="date" name="date_search" placeholder="date search">

                                <button class="btn btn-black border border-black rounded-0" type="submit">Search Bookings by Date</button>
                                </form>
                            </div>
                        </div>
                    </div></a>
                <a href="{% url 'display_bookings' %}" class="dropdown-item">All Bookings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Go Back
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'add_booking' %}" class="dropdown-item">Go back to Take Booking</a>
                <a href="{% url 'home' %}" class="dropdown-item ">Go back to Home Page</a>
                <a href="" class="dropdown-item ">Go back to ...</a>
            </div>
        </li>
    </ul>
</div>