<!doctype html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="place-holder"></div>



{% load crispy_forms_tags %}
   <div class="container h-100">
    
        <div class="row h-100">
<div class="">
                <h5 class="display-3 logo-font text-black"></h5>
                 <h2>Log Out</h2>


<form class="login" method="POST" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">Log Out</button>
</form>


{% endblock %}

</div>
</div>
</div>

